#clockcontainer{
    height: 40vw;
    width: 40vw;
    background: url(./clock.png)no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    height: 22%;
    width: 1%;
    top: 27%;
    left: 49.3%;
    opacity: 0.8;
}
#minute{
    height: 30%;
    width: 2%;
    top: 19.5%;
    left: 48.8%;
    opacity: 0.8;
}
#second{
    height: 35%;
    width: 2%;
    top: 15%;
    left: 48.7%;
    opacity: 0.8;
}